/* ## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px */

:root {
	--white: hsl(0, 0%, 100%);
	--lightgray: hsl(212, 45%, 89%);
	--grayblue: hsl(220, 15%, 55%);
	--darkblue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Outfit', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: var(--lightgray);
	min-height: 100vh;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 27rem;
	background-color: var(--white);
	border-radius: 2rem;
	padding: 1.5rem;
}

.card img {
	border-radius: 1rem;
	max-width: 100%;
	display: block;
	height: auto;
}
h1 {
	font-weight: 700;
	font-size: 1.85rem;
	margin: 1rem 0;
	color: var(--darkblue);
}

p {
	font-weight: 400;
	font-size: 1.25rem;
	color: var(--grayblue);
}

h1,
p {
	text-align: center;
}
